.weather.day {
    background: linear-gradient(45deg, #893eda, #855bc7);
    min-height: 100vh;
}

.weather.night {
    background: linear-gradient(45deg, #0b001d, #000000);
    min-height: 100vh;
}

.head {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.min-logo {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 40px;
    font-weight: 600;
    color: #ffff;
    font-family: "Comic Relief", system-ui;
    font-weight: 600;
    font-style: normal;
    text-shadow: 0px 0px 5px black;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 750px;
    width: 100%;
}

.search-container input {
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    width: 100%;
    border-radius: 50px;
    border: none;
    background-color: #ffffffda;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f8ff;
    height: 45px;
    width: 50px;
    border-radius: 50px;
    font-size: 26px;
    color: #673397;
    cursor: pointer;
    transition: 0.3s ease;
}

.search-icon:hover {
    background-color: #502975;
    color: #f0f8ff;
}

.weather-container {
    padding: 30px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-evenly;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffff;
    gap: 5px;
}

.row img {
    width: 200px;
    filter: drop-shadow(10px 20px 30px #292929);
    animation: jump 4s linear infinite;
}

@keyframes jump {
    0% {
        transform: translateY(-8px);
    } 50% {
        transform: translateY(8px);
    } 100% {
        transform: translateY(-8px);
    }
}

.col-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.temperature {
    font-size: 70px;
    color: #f0f8ff;
}

.description {
    font-size: 40px;
    font-weight: 400;
}

.location {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
}

.avg-temp {
    display: flex;
    align-items: center;
    gap: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

.col p {
    font-size: 30px;
    color: #f0f8ff;
}

.col-div {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #ffff;
}

.col-div p {
    font-size: 40px;
}

.col-div span {
    font-size: 30px;
}


.time-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
}

.time-container p {
    color: #f0f8ff;
    font-size: 30px;
    border: 1px solid #ffff;
    border-radius: 50px;
    padding: 10px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.err-msg {
    color: #ffff;
    text-align: center;
    padding-top: 25%;
    font-size: 40px;
}

@media (max-width: 680px) {
    .logo {
        font-size: 30px;
    }
    .search-container input {
        font-size: 16px;
        font-weight: 400;
    }
    .search-icon {
        height: 40px;
        width: 40px;
        padding: 10px;
    }
    .sky-icon {
        font-size: 60px !important;
    }
    .weather-container {
        flex-direction: column;
        gap: 20px;
        padding-top: 0;
    }
    .col {
        align-items: center;
    }
    .location {
        gap: 5px;
        font-size: 25px !important;
    }
    .location-icon {
        font-size: 30px !important;
    }
    .avg-temp {
        gap: 5px;
        font-size: 25px !important;
    }
    .temp-icon {
        font-size: 30px !important;
    }
    .col-container {
        width: 100%;
    }
    #col {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .col-div p {
        font-size: 30px;
    }
    .col-div span {
        font-size: 25px;
    }
    .time-container p {
        font-size: 25px;
    }
}

@media (max-width: 580px) {
    .head {
        padding: 10px;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .head {
        padding-top: 20px;
    }
    .min-logo {
        display: flex;
    }
    .logo {
        display: none;
    }
    .weather-container {
        padding: 10px;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    .row img {
        width: 250px;
    }
    .temperature {
        font-size: 100px;
    }
    .description {
        font-size: 25px;
    }
    .location {
        font-size: 25px !important;
    }
    .location-icon {
        font-size: 25px !important;
    }
    .avg-temp {
        font-size: 20px !important;
    }
    .temp-icon {
        font-size: 25px !important;
    }
    .col-div p {
        font-size: 20px;
    }
    .col-div span {
        font-size: 18px;
    }
    #col {
        gap: 0;
    }
    .humid-icon {
        font-size: 35px !important;
    }
    .wind-icon {
        font-size: 35px !important;
    }
    .time-container {
        flex-direction: column;
        padding: 10px;
    }
    .time-container p {
        font-size: 24px;
    }
}